<div class="card contDato mb-3 " style="max-width: 18rem">
  <div class="card-body text-info">
   <p><img src="../../../assets/images/person-outline.svg " class="icono"/> {{dato1.name}}</p>
   <p><img  class="icono"/>{{dato1.username}}</p>
   <p><img src="../../../assets/images/at-outline.svg" class="icono"/>{{dato1.email}}</p>
   <p><img src="../../../assets/images/paper-plane-outline.svg " class="icono"/>{{dato1.address.city}}</p>
   <p><img src="../../../assets/images/call-outline.svg " class="icono"/>{{dato1.phone}}</p>
   <p><img src="../../../assets/images/earth-outline.svg " class="icono"/>{{dato1.website}}</p>
   <p><img src="../../../assets/images/briefcase-outline.svg " class="icono"/>{{dato1.company.name}}</p>
</div>
