.img{
    height: 168px;
    width: 135px;
    border-radius: 75px;
    margin-left: 35px;
}

.container2{
    margin-top: 8px;
    margin-bottom: 8px;
    background: #94618E;
    padding: 6px;
    border-radius: 15px;
}

.conText{
    border-radius: 17px;
    background: white;
    text-align: justify;
}