<app-navbar></app-navbar>
<div class="row containerppal">
  <div class="col-12">

    <div class="row">
      <div class="col-4">

        <div class="row">
          <div class="col-12" style="background: brown; height: 200px">
            <img
              src="../../../assets/images/userphoto.svg" class="imgContainer2 offset-3"/>
          </div>
        </div>
        <div class="row">
          <div class="col-6" style="background: blue; height: 100px">
        <app-button></app-button>
            </div>
          <div class="col-6" style="background: red; height: 100px">
            <app-button></app-button>
        </div>
        </div>
      </div>
      <div class="col-6">
        <app-datos-user></app-datos-user>
      </div>
    </div>

    <!-- Fin primera seccion -->
    <div class="row">
      <div class="col-12 ">
        <h1>GALERIA</h1>
        <app-photo></app-photo>
      </div>
    </div>
  </div>
</div>
