.containerppal{
    margin: 20px;
}

.imgContainer2{
    width: 190px;
    margin-top:5px;
}

.subcontainer2{
    width: 100px;
    height: 100px;
    position: fixed;
}

.subcontainer1{
    width: 100px;
    height: 100px;
    position: fixed;
}

