.sliderGalery{
    width: 600px;
    padding-top: 50px;
    color:#49274A ;
    font-weight: bold;    
}

.carousel-item{
padding: 20px;
background:white;
border: darkslateblue 5px double;
}

.offset-3 {
    margin-left: 34%;
}